# Jinja2 template for device configuration
# This template defines placeholders for various configuration parameters for Cisco, Juniper, and Huawei devices.

device_type: {{ device_type }}
hostname: {{ hostname }}
username: {{ username }}
password: {{ password }}
enable_password: {{ enable_password }}
interface:
  - name: {{ interface_name }}
    ip_address: {{ ip_address }}
    subnet_mask: {{ subnet_mask }}
    description: {{ description }}
    
# Additional parameters can be added as needed
{% if device_type == 'Cisco' %}
  cisco_specific_param: {{ cisco_specific_param }}
{% elif device_type == 'Juniper' %}
  juniper_specific_param: {{ juniper_specific_param }}
{% elif device_type == 'Huawei' %}
  huawei_specific_param: {{ huawei_specific_param }}
{% endif %}